# Data Structures
There are four collection data types in the Python programming language
- Lists
- Tuples
- Sets
- Dictionaries

## Python Lists
A list is a collection which is ordered and changeable. 
In Python lists are written with square brackets.

In [7]:
         -5      -4         -3      -2   -1
names = ['Raj', 'Arjun', 'Priya','Kishor','Anu']
            0.    1.        2     3         4
print(names)>>>>>>>>>>>>>>>>>> Posiyive Indexing: starts from 0
print(type(names))<<<<<<<<<<<<<<<< Negative Indexing: Starts from -1

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu']
<class 'list'>

In [8]:
names
print(names[:3] )# for first 3 index values
print(names[2:]) # for from second index values onward

['Raj', 'Arjun', 'Priya']
['Priya', 'Kishor', 'Anu']

In [9]:
# Access items
print(names[0])
print(names[2:])
print(names[:2])
print(names[1:3])

Raj
['Priya', 'Kishor', 'Anu']
['Raj', 'Arjun']
['Arjun', 'Priya']

In [10]:
names

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu']

In [11]:
# Negative index
print(names[-1])
print(names[-2:])
print(names[:-2])
print(names[-3:-1])

Anu
['Kishor', 'Anu']
['Raj', 'Arjun', 'Priya']
['Priya', 'Kishor']

In [12]:
# Change item in list
names[3]="Vijay"
print(names)

['Raj', 'Arjun', 'Priya', 'Vijay', 'Anu']

In [13]:
# Looping through lists
for j in names:
    print(j+'5'+j)

Raj5Raj
Arjun5Arjun
Priya5Priya
Vijay5Vijay
Anu5Anu

In [14]:
# Nested list
mylist=[1,2,3,['a','b',[5,6]]]
print(mylist)

[1, 2, 3, ['a', 'b', [5, 6]]]

In [9]:
a.append("c")
print(a)
b = a.copy()
print(b)
del(a)

NameError: name 'a' is not defined

## Methods 
- append(): Adds an element at the end of the list
- clear(): Removes all the elements from the list
- copy(): Returns a copy of the list
- count(): Returns the number of elements with the specified value
- del : Delete list
- extend(): Add the elements of a list (or any iterable), to the end of the current list
- index(): Returns the index of the first element with the specified value
- insert():	Adds an element at the specified position
- len(): Length of list
- list(): Copies list from given list
- pop(): Removes the element at the specified position
- remove():	Removes the item with the specified value
- reverse(): Reverses the order of the list
- sort(): Sorts the list

In [15]:
# append(): Adds an element at the end of the list
names.append("Kumar")
print(names)

['Raj', 'Arjun', 'Priya', 'Vijay', 'Anu', 'Kumar']

In [16]:
# clear(): Removes all the elements from the list
names.clear()
print(names)

[]

In [17]:
# copy(): Returns a copy of the list
names = ['Raj', 'Arjun', 'Priya','Kishor','Anu']
Names=names.copy()
print(Names)

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu']

In [18]:
# count(): Returns the number of elements with the specified value
names.append("Raj")
x=names.count('Raj')
print(x)

2

In [19]:
# del : Delete list
del Names

#print(Names)

In [74]:
# extend(): Add the elements of a list (or any iterable), 
# to the end of the current list
cars = ['Ford', 'BMW', 'Volvo']
names.extend(cars)
print(names)

['Anu', 'Arjun', 'BMW', 'Ford', 'Kishor', 'Priya', 'Raj', 'Volvo', 'Ford', 'BMW', 'Volvo']

In [21]:
# index(): Returns the index of the first element with the specified value
x=names.index('BMW')
x

7

In [75]:
# insert():	Adds an element at the specified position
names.insert(2,'Audi')
print(names)

['Anu', 'Arjun', 'Audi', 'BMW', 'Ford', 'Kishor', 'Priya', 'Raj', 'Volvo', 'Ford', 'BMW', 'Volvo']

In [23]:
# len(): Length of list
print(len(names))

10

In [24]:
# list(): Creats list from given inputs
new_list=list(('Audi',"BMW",'Ford'))
print(new_list)

['Audi', 'BMW', 'Ford']

In [25]:
# pop(): Removes the element at the specified position
names.pop(2)
#print(names.pop(2))
print(names)
#names.pop(2)
#print(names)
print(len(names))

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu', 'Raj', 'Ford', 'BMW', 'Volvo']
9

In [26]:
# remove(): Removes the item with the specified value
names.remove('Raj')
print(names)

['Arjun', 'Priya', 'Kishor', 'Anu', 'Raj', 'Ford', 'BMW', 'Volvo']

In [27]:
# reverse(): Reverses the order of the list
names.reverse()
print(names)

['Volvo', 'BMW', 'Ford', 'Raj', 'Anu', 'Kishor', 'Priya', 'Arjun']

In [28]:
# sort(): Sorts the list
names.sort()
print(names)

['Anu', 'Arjun', 'BMW', 'Ford', 'Kishor', 'Priya', 'Raj', 'Volvo']

## Tuples
A tuple is a collection which is ordered and unchangeable. 


In Python tuples are written with round brackets.

The key difference between the tuples and lists is that while the tuples are immutable objects the lists are mutable. 

This means that tuples cannot be changed while the lists can be modified.
Tuples are more memory efficient than the lists.

In [10]:
t1=(1,5,8,3,10,3)
t2=('Raj', 'Arjun', 'Priya','Kishor','Anu')
print(t1,"\n")
print(t2)

(1, 5, 8, 3, 10, 3)

('Raj', 'Arjun', 'Priya', 'Kishor', 'Anu')

In [13]:
g = ['g','l']
g.append('k')
print(g)

['g', 'l', 'k']

In [11]:
t1.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
# Access elements
print(t1[0])
print(t1[2:])
print(t1[:3])

1
(8, 3, 10, 3)
(1, 5, 8)

In [32]:
# Negative index
print(t1[-1])
print(t1[-4:])
print(t1[:-3])

3
(8, 3, 10, 3)
(1, 5, 8)

In [33]:
# Change tuple values
t1[0]=99

TypeError: 'tuple' object does not support item assignment

Tuples are not interchangable. So no additional element can be added or removed. Try...

In [34]:
# Looping through tuple
for j in t1:
    print(j)

1
5
8
3
10
3

In [35]:
# Check if 'Raj' in t2
if "Raj" in t2:
    print("Raj is listed in t2")
print('Raj' in t1)

Raj is listed in t2
False

In [36]:
# tuple with one item
T1=("Hi",)
print(type(T1))
T2=("Hi")
print(type(T2))

<class 'tuple'>
<class 'str'>

In [2]:
t= (1,2,3)
q = (4,5,6)
t+q

(1, 2, 3, 4, 5, 6)

In [4]:
t.index(1)

0

## Methods 
- tuple(): Creates tuple with elements specified.
- len(): Gives length of tuple, no. of elements in tuple.
- t1 + t2 : Adds two tuples
- del(): Deletes tuple
- count(): Returns the number of times a specified value occurs in a tuple.
- index(): Searches the tuple for a specified value and returns the position of where it was found.

In [37]:
# tuple(): Creates tuple with elements specified.
t=tuple((0,2,4,6,0,2,2,5,2,0,2,3,4))
t1 = tuple((1,2,3,4,5,6))
print(t)

(0, 2, 4, 6, 0, 2, 2, 5, 2, 0, 2, 3, 4)

In [38]:
del(t1)

In [40]:
# len(): Gives length of tuple, no. of elements in tuple.
len(t1)

NameError: name 't1' is not defined

In [41]:
# t1 + t2 : Adds two tuples
t + t1

NameError: name 't1' is not defined

In [42]:
# del(): Deletes tuple
print(T1)
del T1
print(T1)

('Hi',)

NameError: name 'T1' is not defined

In [43]:
# count(): Returns the number of times a specified value occurs in a tuple.
t.count(2)

5

In [ ]:
index(2)

In [ ]:
t = (1,2,5,'a','b', (1,'c'))
print(t)

## Sets
A set is a collection which is unordered and unindexed. 
In Python sets are written with curly brackets.

In [ ]:
set1={1,3,8,9,4,3,5,2,1}
print(set1,"\n")
set2={'A','C','D','A','X'}
print(set2)

In [ ]:
a = {1,2,3,4,5}
print(a)
b = {'1243','df','54',342,54.0,67j}
b

# Access items
# You cannot access items in a set by referring to an index, 
# since sets are unordered the items has no index.

In [ ]:
# Access items
# loop through the set items using a for loop
for j in set1:
    print(j)
print('A' in set2)

In [22]:
w.difference(e)

{1, 2}

In [23]:
e.difference(w)

{5}

In [29]:
w = {1,2,3,4}
e = {3,4,5}
print(w)
print(e)

{1, 2, 3, 4}
{3, 4, 5}

In [30]:
w.difference_update(e)

In [42]:
maths.difference(sports)

{'A', 'B', 'C', 'D'}

In [38]:
maths.difference_update(sports)
maths

{'A', 'B', 'C'}

In [41]:
sports.difference_update(maths)
sports

{'E', 'F', 'G'}

In [31]:
print(w)
print(e)

{1, 2}
{3, 4, 5}

In [48]:
print(maths)
maths.discard("B")
print(maths)

{'B', 'D', 'C'}
{'D', 'C'}

In [46]:
maths

{'B', 'C', 'D'}

In [26]:
maths = {"A","B","C","D"}
sports = {"D","E","F","G"}

In [2]:
maths.intersection(sports)

{'D'}

In [6]:
print(maths)
print(sports)

{'C', 'A', 'D', 'B'}
{'E', 'F', 'D', 'G'}

In [7]:
maths.intersection_update(sports)

In [8]:
print(maths)
print(sports)

{'D'}
{'E', 'F', 'D', 'G'}

In [9]:
maths.isdisjoint(sports)

False

In [10]:
maths.issubset(sports)

True

In [11]:
maths.issuperset(sports)

False

In [12]:
len(maths)

1

In [20]:
print(sports)
sports.pop()
print(sports)

{'E', 'F', 'D', 'G'}
{'F', 'D', 'G'}

In [24]:
sports.remove("F")

KeyError: 'F'

In [27]:
maths.symmetric_difference(sports)

{'A', 'B', 'C', 'E', 'F', 'G'}

In [29]:
maths.symmetric_difference_update(sports)

In [36]:
maths = {"A","B","C","D"}
sports = {"D","E","F","G"}
print(maths)
print(sports)

{'C', 'A', 'D', 'B'}
{'E', 'F', 'D', 'G'}

In [37]:
maths.symmetric_difference(sports)

{'A', 'B', 'C', 'E', 'F', 'G'}

In [39]:
print(sports)
maths

{'E', 'F', 'D', 'G'}

{'A', 'B', 'C', 'D'}

In [40]:
maths.symmetric_difference_update(sports)

In [41]:
maths

{'A', 'B', 'C', 'E', 'F', 'G'}

In [31]:
print(maths)
maths.pop()
print(maths)

{'A', 'B', 'E', 'C', 'F', 'G'}
{'B', 'E', 'C', 'F', 'G'}

In [32]:
sports.union(maths)

{'B', 'C', 'D', 'E', 'F', 'G'}

In [34]:
sports.update(maths)

In [35]:
sports

{'B', 'C', 'D', 'E', 'F', 'G'}

## Methods
- add(): Adds an element to the set
- clear(): Removes all the elements from the set
- copy(): Returns a copy of the set
- difference(): Returns a set containing the difference between two or more sets
- difference_update(): Removes the items in this set that are also included in another, specified set
- discard(): Remove the specified item
- intersection(): Returns a set, that is the intersection of two other sets
- intersection_update(): Removes the items in this set that are not present in other, specified set(s)
- isdisjoint(): Returns whether two sets have a intersection or not
- issubset(): Returns whether another set contains this set or not
- issuperset(): Returns whether this set contains another set or not
- len(): Finds length of set
- pop(): Removes an element from the set
- remove(): Removes the specified element
- symmetric_difference(): Returns a set with the symmetric differences of two sets
- symmetric_difference_update(): inserts the symmetric differences from this set and another
- union(): Return a set containing the union of sets
- update(): Update the set with the union of this set and others

In [ ]:
# I. symmetric_difference_update()
# II. symmetric_difference():
# III. union()
# IV. discard()
# V. issubset()

In [ ]:
# add(): Adds an element to the set
print(set1)
set1.add(12)
print(set1)

In [ ]:
# clear(): Removes all the elements from the set
set1.clear()
print(set1)

In [ ]:
# copy(): Returns a copy of the set
set1=set2.copy()
print(set1)

In [ ]:
# difference(): Returns a set containing the difference between two or more sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = y.difference(x)
print(z)

In [ ]:
# difference_update(): Removes the items in this set that are also included in another, specified set
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

y.difference_update(x)
print(y)

In [ ]:
# discard(): Remove the specified item
print(set1)
set1.discard('X')
print(set1)

In [ ]:
# intersection(): Returns a set, that is the intersection of two other sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = y.intersection(x)
print(z)

In [ ]:
# intersection_update(): Removes the items in this set that are not present in other, specified set(s)
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

y.intersection_update(x)
print(y)

In [15]:
# isdisjoint(): Returns whether two sets have a intersection or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = x.isdisjoint(y)
print(z)

False

In [ ]:
# issubset(): Returns whether another set contains this set or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}#,'banana','cherry'}

z = y.issubset(x)
print(z)

In [ ]:
# issuperset(): Returns whether this set contains another set or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple",'banana','cherry'}

z = y.issuperset(x)
print(z)

In [ ]:
# len(): Finds length of set
len(x)

In [17]:
# pop(): Removes an element from the set and returns the removed value.
print(x)
print(x.pop())
print(x)

{'apple', 'banana'}
apple
{'banana'}

In [ ]:
# remove(): Removes the specified element
#y={'samsung', 'apple', 'mi'}
print(y)
y.remove('mi')
#y.remove('MI')
#y.discard('MI')
print(y)

In [ ]:
# symmetric_difference(): Returns a set with the symmetric differences of two sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = y.symmetric_difference(x)
print(z)

In [ ]:
# symmetric_difference_update(): inserts the symmetric differences from this set and another
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

y.symmetric_difference_update(x)
print(y)

In [ ]:
# union(): Return a set containing the union of sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z=x.union(y)
print(z)

In [ ]:
# update(): Update the set with the union of this set and others
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

x.update(y)
print(x)

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [44]:
d1={"Name": "Ankit","Class": '12th','Roll No.': 25, 'Result': "Pass"}
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}

In [45]:
# Accessing Items
# You can access the items of a dictionary by referring to its key name, inside square brackets.
ds = {"sanket": "7769007765","abc":"6887788"}

'12th'

In [46]:
# get() function
d1.get('Name')

'Ankit'

In [47]:
# Change values
d1['Name']='Aniket'
print(d1)

{'Name': 'Aniket', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}

In [ ]:
# Looping through dictionary
for j in d1:
    print(j)

In [ ]:
for j in d1:
    print(d1[j])

In [ ]:
# Extract keys
d1.keys()

In [ ]:
# Extract values
d1.values()

In [ ]:
# Extract keys and values both
d1.items()

In [ ]:
for k,v in d1.items():
    print(k,v)

In [ ]:
# Check existance of key
print('Names' in d1,'\n')
if 'Names' in d1:
    print('Name exists in disctionary')

In [ ]:
# Nested dictionary
myfamily = {
  "child1" : {
    "name" : "kruti",
    "year" : 2004
  },
  "child2" : {
    "name" : "Akruti",
    "year" : 2007
  },
  "child3" : {
    "name" : "Sanskruti",
    "year" : 2011
  }
}
print(myfamily)

In [42]:
child1 = { "name" : "kruti","year" : 2004}
child2 = {"name" : "Akruti","year" : 2007}
child3 = {"name" : "Sanskruti","year" : 2011}

myfamily = { "child1" : child1, "child2" : child2, "child3" : child3}

print(myfamily)

{'child1': {'name': 'kruti', 'year': 2004}, 'child2': {'name': 'Akruti', 'year': 2007}, 'child3': {'name': 'Sanskruti', 'year': 2011}}

In [46]:
d = { "name" : "kruti","year" : 2004}
d

{'name': 'kruti', 'year': 2004}

In [44]:
d.clear()

In [47]:
e = d.copy()
e

{'name': 'kruti', 'year': 2004}

In [48]:
e.fromkeys()

TypeError: fromkeys expected at least 1 argument, got 0

## Methods
- clear(): Removes all the elements from the dictionary
- copy(): Returns a copy of the dictionary
- fromkeys(): Returns a dictionary with the specified keys and values
- pop(): Removes the element with the specified key
- popitem(): Removes the last inserted key-value pair
- setdefault(): Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- update(): Updates the dictionary with the specified key-value pairs

In [ ]:
# clear(): Removes all the elements from the dictionary
print(d1)
d1.clear()
print(d1)

In [57]:
# copy(): Returns a copy of the dictionary d2 = d1
d1={'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
d3= d1
print(d3)
D=d1.copy()
print(D)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}

In [50]:
# fromkeys(): Returns a dictionary with the specified keys and values
x = ('key1', 'key2', 'key3')
y = (1,2,3)
z=dict.fromkeys(x,y)
print(z)

{'key1': (1, 2, 3), 'key2': (1, 2, 3), 'key3': (1, 2, 3)}

In [51]:
x = [1,2,3]
y = 0
z = dict.fromkeys(x,y)
z

{1: 0, 2: 0, 3: 0}

In [54]:
# pop(): Removes the element with the specified key
print(d)
d.pop('name')
print(d)

{'name': 'kruti', 'year': 2004}
{'year': 2004}

In [55]:
d.pop("year")

2004

In [56]:
d

{}

In [59]:
# popitem(): Removes the last inserted key-value pair
print(d1)
d1.popitem()
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25}
{'Name': 'Ankit', 'Class': '12th'}

In [63]:
# setdefault(): Returns the value of the specified key. 
# If the key does not exist: insert the key, with the specified value
d1={'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
print(d1)
d2=d1.setdefault("Class")
print(d2)
d3=d1.setdefault('Name')
print(d3)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
12th
Ankit

In [68]:
fy = {1:"sanket",2:"Shubham",3:"prashant",4:"Yashaswi"}
fy

{1: 'sanket', 2: 'Shubham', 3: 'prashant', 4: 'Yashaswi'}

In [70]:
fy.update({5:"Tejas"})
fy

{1: 'sanket', 2: 'Shubham', 3: 'prashant', 4: 'Yashaswi', 5: 'Tejas'}

In [71]:
fy.update({6:"Shital"})

In [72]:
fy

{1: 'sanket',
 2: 'Shubham',
 3: 'prashant',
 4: 'Yashaswi',
 5: 'Tejas',
 6: 'Shital'}

In [66]:
CR = fy.setdefault(2)
CR

'Shubham'

In [61]:
(d2)

'12th'

In [67]:
# update(): Updates the dictionary with the specified key-value pairs
print(d1)
d1.update({"Division":"A"})
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Division': 'A'}

In [ ]:
class1= ["sanket","ganesh","raj","anu"]
tuple1=('Raj', 'Arjun', 'Priya','Kishor','Anu')
set1 = {"sanket","ganesj",'hrutwik'}
dict1 = {"sanket":"1","ganesh":"2","hrutwik": "3"}

In [ ]:
type(class1)

In [ ]:
type(tuple1)

In [ ]:
type(set1)