# Content
- Syntax
- Comments
- Variables
- Data Types
- Numbers
- Casting
- Strings
- Booleans
- Operators

# Syntax
- In Jupyter notebook; write syntax in chunk and click on 'Run' or 'CTRL+Enter' to execute.
Different IDE's have different ways to write syntax. The identation i.e. no. of spaces has some meaning (we'll see while studying loops)

created by Guido van Rossum, and released in 1991.

In [ ]:
print("i'm sanket") # my name is sanket

In [ ]:
print('Hello',"Shital")

In [ ]:
print("Pune is in Gujarat")

In [1]:
a = 10
b = 20
print("a is greater than b")
print("B is greater than a")

a is greater than b
B is greater than a

In [2]:
print(a)
print(b)

10
20

In [3]:
a = 124
b = 24
c1 = 54
print("a is greater than b")
print("B is greater than a")

SyntaxError: invalid syntax (2426363469.py, line 3)

In [4]:
print(a)
print(b)

10
20

In [ ]:
print("Elephant is small animal")

In [ ]:
print("Python is not case sensative laungauge")

In [ ]:
Print

In [ ]:
print("Hello")
print('Sanket')
print("Hello Shital")

In [ ]:
print("I like python")
print(5)

In [ ]:
# Pune

In [ ]:
"""
# Pune is in Maharashtra
#Maharashtra is in India
#India is Asian Country
# Asia is on Earth
#
#
#"""

In [ ]:
""" Pune
is in
Maharashtra
"""

In [ ]:
print("Pune") # Pune is in Maharashtra

In [ ]:
#asdfghjkl
                #asdfghjkl












## Comments
- Comments can be used to explain Python code.
- Comments can be used to make the code more readable.
- Comments can be used to prevent execution when testing code.
- Comments starts with a #, and Python will ignore them:

In [ ]:
print("Maharashtra")
print("India")
#print("I LIKE PYTHON")
print("i like python")
# This is also comment and we can write comments on mulpiple lines.

In [ ]:
"""

"""

In [ ]:
A 
a
Sanket 
SANKET
sanket
_a
_A
_a1

In [ ]:
_a = 20#  My name is Sanket
b = 30 
"""My name is Sanket 
Now I'm in Pune
Pune is in MH
MH is in India"""
print("INFINITY")

## Variables
- Variables are containers for storing data values.
- A variable is created the moment you first assign a value to it.
### Variable name
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _)
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
# Ex. Variable
X = 5
print(X)
x = "Awesome" 
print(x)

In [ ]:
x= 23231
x

In [ ]:
print ( " x " )

In [ ]:
A1= 10
A2= 43
A3= 43
_A1 = 54
San = 543
SAn =5434231
SAN = 32
sAN = 45
saN = 123
A = 43
a =30
1a  = 5
5d = 56

In [ ]:
_hi=5
print(_hi)

In [ ]:
x_10=10
print(x_10)

In [ ]:
c ="sanket"
d = "saieed"
e = "Mastan"

In [ ]:
c,d,e = "sanket","saieed","Mastan"

In [ ]:
a,b,c,d,e ="Sanket","Shital","Uddesh","Suraj","Tejas"


### Assign Value to Multiple Variables

In [ ]:
x, y, z,a,b,c,f = "Orange", "Banana", "Cherry","241","fwdfwe","3235","sdasd"
print(x)
print(y)
print(z)
print(a)
print(b)
print(c)

In [5]:
a=b=c=d = 5
d

5

In [6]:
r = "run"
h = "h"
g = h

In [ ]:
c = sanket

In [ ]:
a = "Sanket"
b = 5
print(a)
print(b)
c= sanket

In [ ]:
student - Name and - roll number

In [7]:
a = "{} is learing python in {}"
a.format("Shubham","July")
a.format("prashant","July")

'prashant is learing python in July'

In [8]:
b = "{} having roll number {}"
b.format("shubham","2")

'shubham having roll number 2'

### Output Formating and Input
- The Python print statement is often used to get output.
- To combine both text and a variable, Python uses the + character:
- Format output
- Input() function

In [ ]:
x = "Simple"
print("Python is " + x)

In [ ]:
print("Python is " + x)

In [ ]:
a = 70
b = 30
c = a+b
c

In [11]:
a = int(input())
b = int(input())
c = a+b
c

5
3

8

In [ ]:
a

In [ ]:
x='Python'
print(x +' is easy')

In [ ]:
# Use index or key
x=10
y='ABC'
print("My name is {n} and I'm {a} years old".format(n=y,a=x))

In [ ]:
name=input()
age=input()
print("My name is {} and I'm {} years old".format(name, age))

### Global  and Local Variables
- Variables that are created outside of a function are known as global variables.
- Global variables can be used both inside of functions and outside.

In [12]:
def f1():
    global y
    x="Python"
    y="ML"
    z="AI"# Local VAriable
    print(y)
    print(z)
f1()

ML
AI

In [14]:
y

'ML'

In [ ]:
def f2():
    x='sanket'
    print("My is Name", x)
    print(x)
f2()

In [ ]:
print(x)

In [ ]:
f1()

In [ ]:
x = "Easy"

def f2():
    global x1
    x1='easy123'
    print("Python is " + x1)
    print("Python is "+ x)

f2()

In [ ]:
x1

In [ ]:
print(x)

In [ ]:
x = "awesome"

def code():
    global t
    x = "fantastic"
    t = "78"
    print(x)
    print(t)

code()

#print("Python is " + x)
print(x)
print(t)

In [ ]:
# Define global variable inside function
def f4():
    global x45
    x45="AI"
    print("Future is ", x45)
f4()

In [ ]:
for if else in is not and while

### keywords
- Keywords are the reserved words in python
- We can't use a keyword as variable name, function name or any other identifier
- Keywords are case sentive

In [15]:
#Get all keywords in python
import keyword
print(keyword.kwlist)
#print("\n Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [18]:
pas = 1230

In [ ]:
len(keyword.kwlist)

In [ ]:
int for integers
float for whole numbers
complex for complex numbers
str stands for strings or text

## Data Types
Built-in Data Types

In programming, data type is an important concept.
Variables can store data of different types, and different types can do different things.
Python has the following data types built-in by default, in these categories:

- Numeric Types:	int, float, complex
- Text Type:	str
- Sequence Types:	list, tuple
- Mapping Type:	dict
- Set Types:	set
- Boolean Type:	bool

In [ ]:
x, y, z = 5, "Good Day!", "global"
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

In [20]:
a = 10 
print(a)
print(type(a))
b = 10.0
print(b)
print(type(b))
c = 10j
print(c)
print(type(c))

10
<class 'str'>
10.0
<class 'float'>
10j
<class 'complex'>

In [ ]:
type(c)

## Numbers 
There are three numeric types in Python:
- int
- float
- complex

In [ ]:
x = 1    # int 
y = 2.8 # float 1.3, 4.4,-3.3 
z = 1j   # complex
# check type

In [ ]:
print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 1
print(x)
print(type(x))
complex(x)

### Type conversion

In [ ]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)
#convert from float to int:
b = int(y)
#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

In [ ]:
x = 45
print(type(x))
t = complex(x)
print(type(t))
t

In [ ]:
y = float(z)

### Random numbers

In [ ]:
import random
print(random.randrange(60,700))

In [ ]:
print(random.randrange(10,100))

In [ ]:
#int(1j)
#float(1j)
complex(2)
complex(2.0)

In [ ]:
r = 10
t = 22
print(r+t)
print(r-t)
print(r*t)
print(r/t)

In [ ]:
10%3

In [ ]:
10//3

In [ ]:
### Operations on numbers
x = 11
y = 14 
print(x+y)   #Addition
print(y-x)   # Subtraction
print(x*5)  # Multiplication
print(y / 10)  #Division
print(x**3)  # Power
print(y % 3) #Remainder after division
print(x//4) # Quotient

In [ ]:
10+10.5

In [ ]:
10+10j

In [ ]:
1j + 25.89

## Casting
There may be times when you want to specify a type on to a variable. This can be done with casting. 
Casting in python is therefore done using constructor functions:

- int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
- float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
# Integers
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
a = "10.78j"
b = "Python"
print(a+b)

In [ ]:
name = "Suraj"
sirname = "Ligade"

In [ ]:
print('Suraj Ligade')

In [ ]:
name +"           "+sirname + "           "+ "From MH"

In [ ]:
print(x)
print(y)
print(z)

In [ ]:
# Floats
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
print(x)
print(y)
print(z)
print(w)

In [ ]:
# Strings
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [ ]:
print(x)
print(y)
print(z)

In [ ]:
print(type(x))
print(type(y))
print(type(z))

## Strings
- Strings in python are surrounded by either single quotation marks or double quotation marks.

In [ ]:
# Assign string to variable 
a = 'Hello'
print(a)
#multiple strings
b = "Future is AI"
print(b )
# three single quotes
c = 'I love programming'
print(c)

In [ ]:
# Strings are arrays
a="I Like Python   "
print(a)

In [ ]:
y =                 
#Positive indexing   0  1 2 3 4 5 6 7 8
                     "I N F I N I T Y"
#Negative Indexing.  -8-7-6-5-4-3-2-1

In [ ]:
a = ""
print(len(a))
b= "  "
print(len(b))
a

In [ ]:
for i in "Python": # Diviosion A
    if i=="t":
        break
    print("infinity") # Division B

In [ ]:
a = 10 
b= "Python"
c = [10,"python","infinity","76",98]
print(a)
print(b)
print(c)

In [ ]:
import pandoc

#for Indexing Refer PY0101EN-1-2

In [ ]:
# Positive and Negative indexing
a="I Like Python"
print(a[-11:-7])
print(a[2:6])

In [ ]:
# String length
print(len(a))

In [ ]:
q = 'pyhthon'
p = "  PytHoPn   "
t = "sanket"
print(p.replace("H",'L'))
#t.replace("s","a")
p.split("p")

In [ ]:
h = "       fjsddsa
            gfgsdf
            dfgdfg
            hgdfhgsdf
            gdfgfd
            dfhgdfs
            dfgdsfgh "

### Methods
- strip() method removes any whitespace from the beginning or the end.
- lower() method returns the string in lower case.
- upper() method returns the string in upper case.
- replace() method replaces a string with another string.
- split() method splits the string into substrings if it finds instances of the separator.

In [ ]:
a="  Hi how are you?    from where are you.  r r lr kr "
print(a.strip())
print(a.lower())
print(a.upper())
print(a.replace("o", "J"))
print(a.split("o"))

In [ ]:
print(a)
print(a.split("r"))

In [ ]:
print(a.replace("r","T"))

### Check string
- To check if a certain phrase or character is present in a string, we can use the keywords 'in' or 'not in'.

In [ ]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

In [ ]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

### Concatenation
- To concatenate, or combine, two strings you can use the + operator.

In [ ]:
a = "   Hi"
b = "  There..."
c = a+b
print(c)

In [ ]:
pip install nbconvert

In [ ]:
"Hi+There..."

In [ ]:
2+2.8

In [ ]:
"asd"+2
#type(2)

In [ ]:
"sad"+"bad"

In [ ]:
a = "Hello"
b = "Raj"
c = a + " " + b
print(c)

In [ ]:
"Name" + 2

In [ ]:
My name is sanket & my age is 24

In [ ]:
name = "Akshada"
age = 18
a = ("{} learing Python in the age {}")
a.format(name,age)

In [ ]:
a = 10
b  = 15
c = 20
d = "numbers are {}, {}, {}"
d.format(a,b,c)

In [ ]:
#"A is in tybsc Biotech class & roll number is 1"
c = "{} is in tybsc Biotech class & roll number is {}"
e = "A"
f = 1
c.format("C",3)

In [ ]:
d.format(c,b,a)

In [ ]:
a.format(age,name)

In [ ]:
# we cannot combine strings and numbers like above.
age = 36
txt = ("My name is John, I am {} years old")
print(txt.format(age))

In [ ]:
age = 2400
print(age)
text = ("My name is Sanket & I'm {} years old")
text

In [ ]:
text.format(age)

In [ ]:
a= "sanket"
b = "from"
a+b

In [ ]:
p = "Shubham"
q = 24

In [ ]:
w = "Shubham {}"
w.format(q)

In [ ]:
a = input()
a

In [ ]:
a

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

In [ ]:
quantity = 300
item = "Bread"
price = 500
myorder = "I want {} pieces of {} for {} rupees."
#
print(myorder)
print(myorder.format(quantity, item, price))

In [ ]:
print(myorder.format(item, price, quantity))

In [ ]:
name = input()
age = input()
"My name is {} and I'm {} years old".format(name,age)

In [ ]:
quantity = 3
item = "Bread"
price = 5
myorder = "I want {2} pieces of {0} for {1} rupees."
print(myorder.format(item,price,quantity))

In [ ]:
quantity = 3
item = "Bread"
price = 5
country = "indian"
myorder = "I want {d} pieces of {b} for {c} rupees. Rupees is {d} currency"
print(myorder.format(b=item,c=price,a=quantity,d=country))

Escape Character:

In [ ]:
# To fix above problem use escape character \". Many other escape characters are available.
txt = "He is so \"smart\" as I said"
print(txt)

- To handle string several functions are available...

## Booleans
- Booleans represent one of two values: True or False.

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

In [ ]:
a = 10
b = 10
a==b

In [ ]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

In [ ]:
# The bool() function allows you to evaluate any value, 
# and give you True or False in return
print(bool("Hello"))
print(bool())

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

In [ ]:
print(x)

In [ ]:
x = float(input())
y = int(input())
x + y

In [ ]:
print(d)
len(d)

In [ ]:
type(x)

In [ ]:
y
type(y)

In [ ]:
a = 6
a

In [ ]:
#Some Values are False
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

In [ ]:
import notebook as pdf

## Operators
- Arithmetic
- Assignment
- Comparison
- Logical
- Identity
- membership

## Arithmetic operators
- Addition +
- Subtraction -
- Multiplication *
- Division /
- Power **
- Modulus %
- Floor division //

In [ ]:
x, y = 10, 5
print("Addition=",x+y)
print("Subtraction=",x-y)
print("Multiplication=",x*y)
print("Division=",x/y)
print("Power=",x**y)
print("Modulus=",x%y)
print("Floor division=",x//y)

In [ ]:
"""
**
%
//"""
x= 10
y =5
print(x/y)
print(x*y)
print(x//y)
print(x**y)
x+3

## Assignment Operators

In [ ]:
x = 5 # Gives   x = 5
x

In [ ]:
x += 3 # Gives  x = x + 3
x

In [3]:
Y=20
print(Y)
Y+=10
Y

20

30

In [4]:
x = 5
print(x)

5

In [7]:
x+=5
print(x)

20

In [ ]:
x -= 3 # Gives  x = x - 3
x

In [ ]:
x *= 3 # Gives  x = x * 3
x

In [ ]:
x /= 3 # Gives  x = x / 3
x

In [ ]:
x %= 3 # Gives  x = x % 3
x

In [ ]:
x //= 3 # Gives  x = x // 3
x

In [ ]:
x = 2
x **= 3 # Gives  x = x ** 3
x

In [ ]:

10 >=50
#10 <= 50

In [10]:
a = 10
b = 20
a<b

True

In [ ]:
a=<b

## Comparison Operators
- Equal ==
- Not equal !=
- Greater >
- Less <
- Greater than equal to >=
- Less than equal to <=

In [14]:
x,y = 10, 10.0
print(x==y)
"""print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

"""

True

'print(x!=y)\nprint(x>y)\nprint(x<y)\nprint(x>=y)\nprint(x<=y)\n\n'

In [16]:
type(y)

float

In [ ]:
a = 5
b =5 
a <= b
a>=b

## Logical Operators
- and 
- or
- not

In [ ]:
x=8
print(x < 5 and  x < 10)
print(x < 5 or  x < 10)
print(not(x>10))
print(not(x < 5 and x < 10))

## Identity Operators
- is
- is not

In [ ]:
x, y = 10,10
print(x is y)
print(x is not y)

In [ ]:
a = "sanket"
b = "sanket"
c=b.lower()
print(a is b)
print(a is not b)

In [ ]:
b = 'sanket'
print(b)
c = b.upper()
print(c)
d ="SANKET"
e = "sanket"
print(d)
print(d is c)
print(e is b)

In [ ]:
a = 10;b = 10
print(a is b)
print(a is not b)

In [ ]:
x, y = 'Hi', "Hi"
print(x is y)
print(x is not y)

In [ ]:
print(10 > 9)

In [ ]:
print(bool("Hello"))
print(bool(15))

## Membership Operators
- in
- not in

In [ ]:
x = [1,5,9,3, "sanket","ganesh"]
#"sanket"==5
#print(3 not in x)
print(3 in x)
#print("5" is "sanket")
#print(66 not in x)

In [ ]:
x="Have a Hgood day!" #He
print("av  a" in x)
#print("H" in x)
#print("av a" in x)
#print('good day' in x)

In [ ]:
a = "is not in Pune"
print('Pune' in a)

In [ ]:
a = 20
b = 20

if ( a is b ):
    print("Line 1 - a and b have same identity")
else:
    print("Line 1 - a and b do not have same identity")
######
if ( id(a) == id(b) ):
    print("Line 2 - a and b have same identity")
else:
    print("Line 2 - a and b do not have same identity")
#######

b = 30
if ( a is b ):
    print("Line 3 - a and b have same identity")
else:
    print("Line 3 - a and b do not have same identity")

if ( a is not b ):
    print("Line 4 - a and b do not have same identity")
else:
    print("Line 4 - a and b have same identity")

In [ ]:
x= 20,30,40

In [ ]:
import os
os.getcwd()

In [ ]:
os.chdir("/Users/sanket/Desktop/iAnalyst Internship/notebooks")

In [ ]:
os.chdir('/Users/sanket/Desktop/iAnalyst Internship')

In [ ]:
os.mkdir('trail1')

In [ ]:
os.rmdir("trail")

In [ ]:
os.listdir()

In [ ]:
type(x)

In [ ]:
fruit = ["apple", 'banana',"apple"]
fruit
type(fruit)

In [ ]:
"""fruit = {"apple", 'banana',"apple"}
fruit
type(fruit)"""

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964 }

In [ ]:
thisdict['year']

In [ ]:
class1 = {1: "10",2:"hrutwik",3:"ganesh"}
class1

In [ ]:
class1
class1[ganesh]

In [ ]:
a = ("apple","banana","apple")

In [ ]:
type(a)

In [ ]:
type(a)

In [ ]:
"""
tuple : ()
list :[]
dict : {:} # Contains key & value
set : {}
"""

In [ ]:
"""
Python have some logical operators ==,!=,<,>,=<. 
WE can use these logical statement in for loop.
"""
b= 400
a= 5300
if b>a:
    print("b is greater than a")

In [1]:
prashant_lenght("Python")

NameError: name 'prashant_lenght' is not defined

In [3]:
import Prashant

In [4]:
Prashant.prashant_lenght("Python")

6

In [6]:
 import Student

In [8]:
Student.yashaswi("Prashant")

Prashant How are you
Prashant From where are you
Prashant Nice to meet you

In [9]:
Student.yashaswi("Neha")

Neha How are you
Neha From where are you
Neha Nice to meet you