In [ ]:
#pip install pandas

In [1]:
import pandas as pd

In [2]:
In [1]: df1 = pd.DataFrame(
   ...:     {
   ...:         "A": ["A0", "A1", "A2", "A3"],
   ...:         "B": ["B0", "B1", "B2", "B3"],
   ...:         "C": ["C0", "C1", "C2", "C3"],
   ...:         "D": ["D0", "D1", "D2", "D3"],
   ...:     },
   ...:     index=[0, 1, 2, 3],
   ...: )
   ...: 

In [2]: df2 = pd.DataFrame(
   ...:     {
   ...:         "A": ["A4", "A5", "A6", "A7"],
   ...:         "B": ["B4", "B5", "B6", "B7"],
   ...:         "C": ["C4", "C5", "C6", "C7"],
   ...:         "D": ["D4", "D5", "D6", "D7"],
   ...:     },
   ...:     index=[4, 5, 6, 7],
   ...: )
   ...: 

In [3]: df3 = pd.DataFrame(
   ...:     {
   ...:         "A": ["A8", "A9", "A10", "A11"],
   ...:         "B": ["B8", "B9", "B10", "B11"],
   ...:         "C": ["C8", "C9", "C10", "C11"],
   ...:         "D": ["D8", "D9", "D10", "D11"],
   ...:     },
   ...:     index=[8, 9, 10, 11],
   ...: )
   ...: 

In [4]: frames = [df1, df2, df3]

In [5]: result = pd.concat(frames)

In [3]:
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [4]:
pd.concat(frames, keys=["x", "y", "z"])

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [ ]:
pd.read_exel("")

In [55]:
b = pd.DataFrame({"Roll Number":[1,2,3,4,5],"Name":["AShish","Kishlay","Bibhuti","Sanjana","Ashutosh"]})
b

   Roll Number      Name
0            1    AShish
1            2   Kishlay
2            3   Bibhuti
3            4   Sanjana
4            5  Ashutosh

In [68]:
b[,:1]

SyntaxError: invalid syntax (2309802410.py, line 1)

In [71]:
b[1:]

   Roll Number      Name
1            2   Kishlay
2            3   Bibhuti
3            4   Sanjana
4            5  Ashutosh

In [19]:
a = pd.DataFrame({"A":[1,2,3,67],"B":[2,2,5,6],"C":[3,6,7,2]})

In [43]:
a

    A  B  C
0   1  2  3
1   2  2  6
2   3  5  7
3  67  6  2

In [44]:
type(a)

pandas.core.frame.DataFrame

In [45]:
a.shape

(4, 3)

In [30]:
a[:1]

   A  B  C
0  1  2  3

In [31]:
a[1:]

    A  B  C
1   2  2  6
2   3  5  7
3  67  6  2

In [41]:
a.iloc[0:2]

   A  B  C
0  1  2  3
1  2  2  6

In [42]:
a.loc["A"]

KeyError: 'A'

In [ ]:
df1 = pd.DataFrame(
   ...:     {
   ...:         "A": ["A0", "A1", "A2", "A3"],
   ...:         "B": ["B0", "B1", "B2", "B3"],
   ...:         "C": ["C0", "C1", "C2", "C3"],
   ...:         "D": ["D0", "D1", "D2", "D3"],
   ...:     },
   ...:     index=[0, 1, 2, 3],
   ...: )
   ...: